<a href="https://colab.research.google.com/github/mahshid-khojandi/python-fstring/blob/main/python_fstring.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In Python, **fstring** (Formatted String Literals) is a way to display a combination of strings and variables.

In this method, you add the letter **f** to the beginning of the strings and put them in quotation marks to display the variables.

In [2]:
animals = 'eels'
print(f'My hovercraft is full of {animals}.')

My hovercraft is full of eels.

Passing an integer after the ':' will cause that field to be a minimum number of characters wide. This is useful for making columns line up.

In [3]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 7678}
for name, phone in table.items():
    print(f'{name:10} ==> {phone:10d}')

Sjoerd     ==>       4127
Jack       ==>       4098
Dcab       ==>       7678